{% extends "base.html" %}
{% block title %}Create New Competition{% endblock %}
{% block content %}
    <h1>Create a New Competition</h1>
    <p>After saving, you will be returned to the previous page.</p>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-row">
            {{ form.id.label_tag }}
            {{ form.id }}
            {{ form.id.errors }}
        </div>
        
        <div class="form-row">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        
        <div class="form-row">
            {{ form.sport.label_tag }}
            <div class="input-with-add">
                {{ form.sport }}
                <a href="{% url 'events:sport-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.sport.errors }}
        </div>

        <div class="form-actions">
            <button type="submit">Save Competition</button>
        </div>
    </form>
{% endblock %}