{% extends "base.html" %}
{% block title %}Update Event{% endblock %}
{% block content %}
    <h1>Update Event</h1>
    <p>Update the event details and results below.</p>

    <form method="POST">
        {% csrf_token %}

        <div class="form-row">
            {{ form.start_datetime.label_tag }}
            {{ form.start_datetime }}
            {{ form.start_datetime.errors }}
        </div>

        <div class="form-row">
            {{ form.status.label_tag }}
            {{ form.status }}
            {{ form.status.errors }}
        </div>

        <div class="form-row">
            {{ form.season.label_tag }}
            {{ form.season }}
            {{ form.season.errors }}
        </div>

        <div class="form-row">
            {{ form.stage.label_tag }}
            <div class="input-with-add">
                {{ form.stage }}
                <a href="{% url 'events:stage-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.stage.errors }}
        </div>

        <div class="form-row">
            {{ form.home_team.label_tag }}
            <div class="input-with-add">
                {{ form.home_team }}
                <a href="{% url 'events:team-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.home_team.errors }}
        </div>

        <div class="form-row">
            {{ form.away_team.label_tag }}
            <div class="input-with-add">
                {{ form.away_team }}
                <a href="{% url 'events:team-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.away_team.errors }}
        </div>

        <div class="form-row">
            {{ form.venue.label_tag }}
            <div class="input-with-add">
                {{ form.venue }}
                <a href="{% url 'events:venue-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.venue.errors }}
        </div>

        <hr>
        <h3>Results</h3>

        <div class="form-row">
            {{ form.home_goals.label_tag }}
            {{ form.home_goals }}
            {{ form.home_goals.errors }}
        </div>

        <div class="form-row">
            {{ form.away_goals.label_tag }}
            {{ form.away_goals }}
            {{ form.away_goals.errors }}
        </div>

        <div class="form-row">
            {{ form.winner.label_tag }}
            {{ form.winner }}
            {{ form.winner.errors }}
        </div>

        <div class="form-row">
            {{ form.result_details.label_tag }}
            {{ form.result_details }}
            {{ form.result_details.errors }}
        </div>
        
        <div class="form-actions">
            <button type="submit">Save Changes</button>
            <a href="{% url 'events:event-detail' pk=object.pk %}">Cancel</a>
        </div>
    </form>
{% endblock %}