{% extends "base.html" %}
{% block title %}Create New Stage{% endblock %}
{% block content %}
    <h1>Create a New Stage</h1>
    <p>After saving, you will be returned to the previous page.</p>
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-row">
            {{ form.name.label_tag }}
            {{ form.name }}
            {{ form.name.errors }}
        </div>
        
        <div class="form-row">
            {{ form.ordering.label_tag }}
            {{ form.ordering }}
            {{ form.ordering.errors }}
        </div>
        
        <div class="form-row">
            {{ form.competition.label_tag }}
            <div class="input-with-add">
                {{ form.competition }}
                <a href="{% url 'events:competition-create' %}?next={{ request.path }}" class="add-link">+</a>
            </div>
            {{ form.competition.errors }}
        </div>

        <div class="form-actions">
            <button type="submit">Save Stage</button>
        </div>
    </form>
{% endblock %}